<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duanc.mapper.base.phoneMapper" >
  <resultMap id="BaseResultMap" type="com.duanc.model.base.phone" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="cpu_cores" property="cpuCores" jdbcType="VARCHAR" />
    <result column="cpu_hz" property="cpuHz" jdbcType="DECIMAL" />
    <result column="cpu" property="cpu" jdbcType="VARCHAR" />
    <result column="listing_date" property="listingDate" jdbcType="TIMESTAMP" />
    <result column="screen_size" property="screenSize" jdbcType="DECIMAL" />
    <result column="net_type" property="netType" jdbcType="VARCHAR" />
    <result column="os" property="os" jdbcType="VARCHAR" />
    <result column="ram" property="ram" jdbcType="VARCHAR" />
    <result column="rom" property="rom" jdbcType="VARCHAR" />
    <result column="battery_capacity" property="batteryCapacity" jdbcType="SMALLINT" />
    <result column="phone_color" property="phoneColor" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_user" property="createdUser" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, brand_id, model_id, version, price, cpu_cores, cpu_hz, cpu, listing_date, screen_size, 
    net_type, os, ram, rom, battery_capacity, phone_color, pic_url, created_time, created_user, 
    modify_time, modify_user, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.duanc.model.base.phoneExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from phone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pagination != null and pagination.begin >= 0" >
      limit #{pagination.begin}, #{pagination.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from phone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duanc.model.base.phoneExample" >
    delete from phone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duanc.model.base.phone" >
    insert into phone (id, brand_id, model_id, 
      version, price, cpu_cores, 
      cpu_hz, cpu, listing_date, 
      screen_size, net_type, os, 
      ram, rom, battery_capacity, 
      phone_color, pic_url, created_time, 
      created_user, modify_time, modify_user, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, 
      #{version,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{cpuCores,jdbcType=VARCHAR}, 
      #{cpuHz,jdbcType=DECIMAL}, #{cpu,jdbcType=VARCHAR}, #{listingDate,jdbcType=TIMESTAMP}, 
      #{screenSize,jdbcType=DECIMAL}, #{netType,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, 
      #{ram,jdbcType=VARCHAR}, #{rom,jdbcType=VARCHAR}, #{batteryCapacity,jdbcType=SMALLINT}, 
      #{phoneColor,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{createdUser,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.duanc.model.base.phone" >
    insert into phone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="cpuCores != null" >
        cpu_cores,
      </if>
      <if test="cpuHz != null" >
        cpu_hz,
      </if>
      <if test="cpu != null" >
        cpu,
      </if>
      <if test="listingDate != null" >
        listing_date,
      </if>
      <if test="screenSize != null" >
        screen_size,
      </if>
      <if test="netType != null" >
        net_type,
      </if>
      <if test="os != null" >
        os,
      </if>
      <if test="ram != null" >
        ram,
      </if>
      <if test="rom != null" >
        rom,
      </if>
      <if test="batteryCapacity != null" >
        battery_capacity,
      </if>
      <if test="phoneColor != null" >
        phone_color,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="cpuCores != null" >
        #{cpuCores,jdbcType=VARCHAR},
      </if>
      <if test="cpuHz != null" >
        #{cpuHz,jdbcType=DECIMAL},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="listingDate != null" >
        #{listingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="screenSize != null" >
        #{screenSize,jdbcType=DECIMAL},
      </if>
      <if test="netType != null" >
        #{netType,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="ram != null" >
        #{ram,jdbcType=VARCHAR},
      </if>
      <if test="rom != null" >
        #{rom,jdbcType=VARCHAR},
      </if>
      <if test="batteryCapacity != null" >
        #{batteryCapacity,jdbcType=SMALLINT},
      </if>
      <if test="phoneColor != null" >
        #{phoneColor,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null" >
        #{createdUser,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" resultType="java.lang.Integer" parameterType="com.duanc.model.base.phoneExample" >
    select count(*) from phone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update phone
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=INTEGER},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.cpuCores != null" >
        cpu_cores = #{record.cpuCores,jdbcType=VARCHAR},
      </if>
      <if test="record.cpuHz != null" >
        cpu_hz = #{record.cpuHz,jdbcType=DECIMAL},
      </if>
      <if test="record.cpu != null" >
        cpu = #{record.cpu,jdbcType=VARCHAR},
      </if>
      <if test="record.listingDate != null" >
        listing_date = #{record.listingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.screenSize != null" >
        screen_size = #{record.screenSize,jdbcType=DECIMAL},
      </if>
      <if test="record.netType != null" >
        net_type = #{record.netType,jdbcType=VARCHAR},
      </if>
      <if test="record.os != null" >
        os = #{record.os,jdbcType=VARCHAR},
      </if>
      <if test="record.ram != null" >
        ram = #{record.ram,jdbcType=VARCHAR},
      </if>
      <if test="record.rom != null" >
        rom = #{record.rom,jdbcType=VARCHAR},
      </if>
      <if test="record.batteryCapacity != null" >
        battery_capacity = #{record.batteryCapacity,jdbcType=SMALLINT},
      </if>
      <if test="record.phoneColor != null" >
        phone_color = #{record.phoneColor,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null" >
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUser != null" >
        created_user = #{record.createdUser,jdbcType=INTEGER},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUser != null" >
        modify_user = #{record.modifyUser,jdbcType=INTEGER},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update phone
    set id = #{record.id,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      model_id = #{record.modelId,jdbcType=INTEGER},
      version = #{record.version,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      cpu_cores = #{record.cpuCores,jdbcType=VARCHAR},
      cpu_hz = #{record.cpuHz,jdbcType=DECIMAL},
      cpu = #{record.cpu,jdbcType=VARCHAR},
      listing_date = #{record.listingDate,jdbcType=TIMESTAMP},
      screen_size = #{record.screenSize,jdbcType=DECIMAL},
      net_type = #{record.netType,jdbcType=VARCHAR},
      os = #{record.os,jdbcType=VARCHAR},
      ram = #{record.ram,jdbcType=VARCHAR},
      rom = #{record.rom,jdbcType=VARCHAR},
      battery_capacity = #{record.batteryCapacity,jdbcType=SMALLINT},
      phone_color = #{record.phoneColor,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      created_user = #{record.createdUser,jdbcType=INTEGER},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{record.modifyUser,jdbcType=INTEGER},
      del_flag = #{record.delFlag,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duanc.model.base.phone" >
    update phone
    <set >
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="cpuCores != null" >
        cpu_cores = #{cpuCores,jdbcType=VARCHAR},
      </if>
      <if test="cpuHz != null" >
        cpu_hz = #{cpuHz,jdbcType=DECIMAL},
      </if>
      <if test="cpu != null" >
        cpu = #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="listingDate != null" >
        listing_date = #{listingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="screenSize != null" >
        screen_size = #{screenSize,jdbcType=DECIMAL},
      </if>
      <if test="netType != null" >
        net_type = #{netType,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="ram != null" >
        ram = #{ram,jdbcType=VARCHAR},
      </if>
      <if test="rom != null" >
        rom = #{rom,jdbcType=VARCHAR},
      </if>
      <if test="batteryCapacity != null" >
        battery_capacity = #{batteryCapacity,jdbcType=SMALLINT},
      </if>
      <if test="phoneColor != null" >
        phone_color = #{phoneColor,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duanc.model.base.phone" >
    update phone
    set brand_id = #{brandId,jdbcType=INTEGER},
      model_id = #{modelId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      cpu_cores = #{cpuCores,jdbcType=VARCHAR},
      cpu_hz = #{cpuHz,jdbcType=DECIMAL},
      cpu = #{cpu,jdbcType=VARCHAR},
      listing_date = #{listingDate,jdbcType=TIMESTAMP},
      screen_size = #{screenSize,jdbcType=DECIMAL},
      net_type = #{netType,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      ram = #{ram,jdbcType=VARCHAR},
      rom = #{rom,jdbcType=VARCHAR},
      battery_capacity = #{batteryCapacity,jdbcType=SMALLINT},
      phone_color = #{phoneColor,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_user = #{createdUser,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>