<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanc.mapper.common.BrandMapper">
	<resultMap type="com.duanc.model.dto.BrandDTO" id="brandMap">
		<result column="id" property="id"/>
		<result column="brand_name" property="brandName"/>
	</resultMap>
	
	<select id="getBrands" resultMap="brandMap">
		select id, brand_name from brand 
	</select>
	
</mapper>